
    <div id="display_list">
          <table class="table table-hover">
            <thead>
                <tr>
                <th scope="col">TODO ID</th>
                <th scope="col">TODO Name</th>
                <th scope="col">TODO Status</th>
                <th scope="col">User ID</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                    <tr>
                    <th scope="row"> {{ todo.id }}</th>
                    <td>{{ todo.todoName }}</td>
                    <td>{{ todo.todoStatus }}</td>
	                <td>{{ todo.userId }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

