        .bg-primary{
            background-color: #3333ff;   
        }
        .input-box {
            padding: 16px;
            background-color: white;
        }
                
        .image-left{
            background: scroll center url('/static/images/2.png');
            background-size: cover;
        }

        .height{
            height: 120px;
        }
        .br-left-15px{
            border-radius: 15px 0px 0px 15px;
        }
        .br-right-15px{
            border-radius: 0px 15px 15px 0px;
        }