{% extends 'common/layouts/accounts.twig' %}

{% block mainContents %}
<div container-fluid>
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:100px;">
  <a class="navbar-brand" href="#">ToDO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="row">
    <div class="col-md-2" style="max-width: 100%; background: white">
    <form id="todoForm"> 
        <div class="form-group col-md-12">
            <button type="submit" id="createBtn" class="btn btn-primary btn-lg btn-block active"  aria-pressed="true">Create</button>
        </div>
         <div class="form-group col-md-12">
            <button type="submit" id="listBtn" class="btn btn-primary btn-lg btn-block active"  aria-pressed="true">List</button>
        </div>
         <div class="form-group col-md-12">
            <button type="submit" id="editBtn" class="btn btn-primary btn-lg btn-block active"  aria-pressed="true">Edit</button>
        </div>
         <div class="form-group col-md-12">
            <button type="submit" id="deleteBtn" class="btn btn-primary btn-lg btn-block active"  aria-pressed="true">Delete</button>
        </div>
    </form>
    </div>
    <div id="displayTodo" class="col-md-10 text-center">
    <h1>world</h1>
    </div>
</div>
</div>
{% endblock %}

{% block footer %}
 {{ parent() }}
    <script type="text/javascript">
        $('#todoForm').on('submit', function(event){
           event.preventDefault();
           $('#listBtn').loading();
            var data = $( this ).serialize();
       
            $.ajax(
                {
                method: "POST",
                url: "{{ path_for ('todo:list') }}",
                data: data,
                dataType:"json",
                success: function(result){
                    $('#listBtn').resetLoading();
                    if(result.status == "success"){
                        $("#displayTodo").html(result.data.html);
                    }else{
                        toastr.error("Invalid credentials","No Records");
                    }
                },
                error: function(xhr,status,error){
                        $('#loginBtn').resetLoading();
                        toastr.error("Something went wrong, please try again","Try Again ");
                }
            });
        });
    </script>
{% endblock %}