
{% extends 'common/layouts/accounts.twig' %}

{% block mainContents %}
     <div class="container-fluid">
        <div class="row height">
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 br-left-15px image-left">
            </div>
            <div class="col-md-4 br-right-15px input-box">
                <form id="loginForm">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail">Email</label>
                            <input type="email" class="form-control" name="email" id="email">
                        </div>
                        <div class="form-group col-md-12">
                            <label for="inputPassword">Password</label>
                            <input type="password" class="form-control" name="password" id="password">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" id="loginBtn" class="btn btn-primary btn-lg btn-block active"  aria-pressed="true">Login</button>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center">
                                <a  href="{{path_for('accounts:registration')}}">SignUp</a>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}



{% block footer %}
 {{ parent() }}
    <script type="text/javascript">
        $('#loginForm').on('submit', function(event){
           event.preventDefault();
           $('#loginBtn').loading();
            var data = $( this ).serialize();
       
            $.ajax(
                {
                method: "POST",
                url: "{{ path_for ('accounts:login') }}",
                data: data,
                dataType:"json",
                success: function(result){
                    $('#loginBtn').resetLoading();
                    if(result.status == "success"){
                        toastr.success("Please proceed to sign-in in","Login successfully");
                        window.location.href="{{ path_for ('todo:home')}}";
                    }else{
                        toastr.error("Invalid credentials","Login Failed");
                    }
             
                },
                error: function(xhr,status,error){
                        $('#loginBtn').resetLoading();
                        toastr.error("Something went wrong, please try again","Login Failed");
                }
            });
        });
    </script>
{% endblock %}