
{% extends 'common/layouts/accounts.twig' %}
{% block mainContents %}
     <div class="container-fluid">
        <div class="row height"></div>
        <div class="row justify-content-md-center">
            <div class="col-md-4 br-left-15px image-left">
            </div>
            <div class="col-md-4 br-right-15px input-box">
                <form id="registerForm">
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Name:</label> 
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group col-md-12">
                            <label>DOB</label> 
                            <input type="date" class="form-control" id="dob" name="dob">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                        <div class="form-group col-md-12">
                            <label>Email</label>
                            <input type="email" class="form-control" id="email" name="email">
                        </div>
                        <div class="form-group col-md-12">
                            <label>Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="form-group col-md-12">
                            <button type="submit" id="registerBtn" class="btn btn-primary btn-lg btn-block active"  aria-pressed="true">Register</button>
                        </div>
                        <div class="col-md-12">
                            <div class="text-center ">
                                <a href="{{path_for('accounts:login')}}">SignIn</a>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
{% endblock %}


{% block footer %}
 {{ parent() }}
    <script type="text/javascript">
        $('#registerForm').on('submit', function(event){
           event.preventDefault();
           $('#registerBtn').loading();
            var data = $( this ).serialize();
            
            $.ajax({
                method: "POST",
                url: "{{ path_for ('accounts:registration') }}",
                data: data,
                success: function(result){
                    $('#registerBtn').resetLoading();
                    
                    if(result.status == "success"){
                        toastr.success("Please proceed to sign-in in","User Created");
                        $('#registerForm')[0].reset();
                    }else{
                        var message = result.message;
                        if($.trim(message) == ""){
                            message = "Something went wrong, please try again";
                        }
                        toastr.error(message,"Registration Failed");

                    }
                   
                },
                error: function(xhr,status,error){
                    $('#registerBtn').resetLoading();
                    
                    toastr.error("Something went wrong, please try again","Registration Failed");
                }
            });
        });
    </script>
{% endblock %}


